html {
    font-size: 18px;
}

body {
    font-family: Helvetica;
    color: white;
}

h1, h2 {
    text-transform: uppercase;
}

h1 {
    font-size: 2rem;
    padding: 0.25rem 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}


header {
    background-color: black;
}

header .container {
    display: flex;
    align-items: center;
}

header img {
    height: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 1rem;
}

header h2 {
    padding: 0.66rem 0;
}


.banner {
    background-image: url(../images/moto.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 25rem;
}

.headline {
    background-color: black;
    width: 20rem;
    font-weight: bold;
    padding: 2rem 3rem;
    position: relative;
    top: 9rem;
}

 {
    
}


