html {
    font-size: 18px;
}

body {
    font-family: Helvetica;
    color: white;
}

h1, h2 {
    text-transform: uppercase;
}

h1 {
    font-size: 2rem;
    padding: 1.5rem 0;
    line-height: 2.5rem;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

/*Header*/
header {
    background-color: black;
}

header .container {
    display: flex;
    align-items: center;
    padding: 0.67rem 0;
}

header img {
    height: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 1rem;
}

/*Banner Section*/
.banner {
    background-image: url(../images/moto.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 25rem;
}

.headline {
    background-color: black;
    max-width: 20rem;
    padding: 3.45rem 3rem 0.9rem;
    position: relative;
    top: 9rem;
    font-weight: bold;
}

/* Navigation*/
nav {
    background-color: firebrick;
}

nav .container {
    display: flex;
    justify-content: space-between;
    padding: 0.93rem 0;
}
.tablet-menu {
    display: none;
}

/*Products Section*/
.products.container {
    display: flex;
    justify-content: space-between;
    margin: 3rem auto;
}

.products .item {
    width: 30%;
}

.item-img {
    height: 9rem;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
}

.item img {
    width: 8rem;
}

.products p {
    background-color: black;
    text-align: center;
    padding: 0.725rem 0;
}

/*Contact Info*/
.contact.container {
    display: flex;
    justify-content: space-between;
}

.contact .item {
    width: 35%;
}

.contact p {
    background-color: black;
    padding: 1.2rem 2rem; 
}

p.numbers {
    background-color: white;
    color: black;
    padding: 0.1rem;
}

/*Footer*/
footer {
    margin-top: 4.2rem;
    background-color: black;
    padding: 5.2rem 0;
}

footer .container {
    display: flex;
    align-items: center;
/*    height: 5rem;*/
}



@media only screen and (max-width: 1024px) {
    
/* Banner */
    h1 {
        font-size: 1.75rem;
        padding: 1.3rem 0;
        line-height: 2.3rem;
    }
    .headline h2 {
        font-size: 0.9rem;
    }
    .headline {
        padding: 3rem 0 0.5rem 2.5rem;
    }
    
/* Navigation */
    nav .container {
        justify-content: center;
    }
    .desktop-menu {
        display: none;
    }
    .tablet-menu {
        display: block;
    }
    
/* Products */
    .products .item {
        width: 47%;
    }
    .products .item:last-child {
        display: none;
    }
}


@media only screen and (max-width: 470px) {
    
    /* Header */
    header .container {
        justify-content: center;
    }
    header h2 {
        display: none;
    }
    
    /* Banner */
    .banner {
        height: 15rem;
    }
    .headline {
        top: 10rem;
        max-width: 100%;
        padding: 1rem 2rem 0rem;
    }
    h1 {
        font-size: 1rem;
        padding: 0.56rem 0;
        line-height: 1.3rem;
    }
    .headline h2 {
        font-size: 0.77rem;
    }
    
    /* Products */
    .products .item {
        width: 90%;
        display: none;
    }
    .products .item:first-child {
        display: block;
    }
    .products.container {
        justify-content: center;
    }
    
    /* Contact Info */
    .contact.container {
        flex-wrap: wrap;
        justify-content: center;
    }
    .contact .item {
        width: 90%;
        margin: 0.5rem;
    }
    
    /*Footer*/
    footer .container {
        justify-content: center;
    }
}






